body {
  background-image: url('images/bricktexture.jpg');
}
table {
  font-family: 'John Handy Let', "impact", sans-serif;
  background-color: darkgray;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
th {
  font-family: 'Impact', 'Arial', sans-serif;
  background-color: black;
}
tr {
  border: 3px solid gray;
}

h1 {
  text-align: center;
  color: blue;
  font-family: 'Impact', 'Arial', sans-serif;
}
td {
  background-color: rgb(50,50,50);
}
.UserName {
  color:white;
  font: 1.3em 'Charcoal', 'Arial', sans-serif;
  padding-left: 3%;

}

.hidden{
  visibility: hidden;
}

.Score {
  color: limegreen;
  font: 1em 'Charcoal', 'Arial', sans-serif;
  text-align: right;
  padding-right: 3%;
}

.Date {
  color: rgb(255, 200, 245);
  outline: 1px white;
  font: .7em 'Charcoal', 'Arial', sans-serif;
  text-align: right;
  padding-right: 3%;
}
